---
import Xd from '../components/Xd.astro';
import Layout from './../layouts/Layout.astro'
---
<Layout>
    <main class="bg-gradient-to-tr from-zinc-950 via-zinc-900 to-zinc-800 h-full w-full">
        <div class="h-screen flex [flex-direction:column] [align-items:center] [justify-content:center]">
            <h1 class="text-6xl sm:text-7xl md:text-8xl lg:text-9xl text-center font-Bebas uppercase transition-transform py-4">AndrewsLara</h1>
            <p class="text-white text-xl italic font-Montserrat text-center font-Bebas">"No busques diamantes en una cueva explorada, ya que estara vacia"</p>
        </div>
    </main>
</Layout>
<style is:global>
    @media (max-width:700px) {
        h1 {
        color: #fff5;
        animation: color 6s infinite alternate;
    }
}
@media (min-width:700px) {
        h1 {
        color: #fff5;
        animation: color 6s infinite alternate;
    }
}
    @keyframes fade {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>