---
import Layout from './../layouts/Layout.astro'
---
<Layout>
    <main class="bg-gradient-to-t from-slate-900 via-sky-900 to-blue-950 h-full w-full">
        <div class="h-screen flex [flex-direction:column] [align-items:center] [justify-content:center]">
            <h1 class="text-transparent text-4xl sm:text-5xl md:text-7xl lg:text-8xl text-center font-Poppins uppercase transition-transform py-4">AndrewsLara</h1>
            <p class="text-white text-xl italic font-Montserrat text-center">"No busques diamantes en una cueva explorada, ya que estara vacia"</p>
        </div>
        <section class="h-[100%] w-full grid grid-cols-1 lg:grid-cols-2 place-items-center">
            <div class="bg-green-500 p-4 h-full w-full font-Poppins">
                <h2 class="text-3xl py-3">El insano</h2>
                <h3 class="text-xl">Andrews Lara</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae magni iusto dicta, aliquid temporibus fuga dolorem voluptate amet consectetur nesciunt tempore delectus repellat, facilis velit laborum enim consequatur at.</p>
            </div>
            <div class="bg-green-900 h-full w-full grid place-items-center">
                <div class="h-72 w-72 bg-slate-500">
                    <img src="" alt="uwu">
                </div>
            </div>
        </section>
    </main>
</Layout>
<style is:global>
    @media (max-width:700px) {
        h1 {
        letter-spacing: 15px;
        text-shadow: 0px 0px 20px #fff5;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color:#fff;
        animation: color 6s infinite alternate;
    }
}
@media (min-width:700px) {
        h1 {
        letter-spacing: 15px;
        text-shadow: 0px 0px 20px #fff5;
        -webkit-text-stroke: 3px;
        -webkit-text-stroke-color:#fff;
        animation: color 6s infinite alternate;
    }
}
    @keyframes color {
        0% {
            text-shadow: 0px 0px 20px #f005;
            -webkit-text-stroke-color:#f00;
        }
        15% {
            text-shadow: 0px 0px 20px rgba(255, 0, 255, 0.333);
            -webkit-text-stroke-color:#ff00d4;
        }
        30% {
            text-shadow: 0px 0px 20px #6200ff55;
            -webkit-text-stroke-color:#6200ff;
        }
        45% {
            text-shadow: 0px 0px 20px #0004ff55;
            -webkit-text-stroke-color:#0004ff;
        }
        60% {
            text-shadow: 0px 0px 20px #00a2ff55;
            -webkit-text-stroke-color:#00a2ff;
        }
        75% {
            text-shadow: 0px 0px 20px #00ff5555;
            -webkit-text-stroke-color:#00ff55;
        }
        90% {
            text-shadow: 0px 0px 20px #e5ff0055;
            -webkit-text-stroke-color:#e5ff00;
        }
        100% {
            text-shadow: 0px 0px 20px #ff990055;
            -webkit-text-stroke-color:#ff9900;
        }
    }
    @keyframes fade {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>