---
import Layout from './../layouts/Layout.astro'
---
<Layout>
    <main class="bg-slate-950 h-screen w-screen flex items-center justify-center">
        <h1 class="text-transparent text-9xl font-mono uppercase transition-transform">AndrewsLara</h1>
    </main>
    <section class="bg-zinc-300 h-full flex relative flex-wrap">
    <div class="relative flex">
        <div class="bg-slate-950 h-52 w-52 m-2"></div>
        <div class="bg-blue-950 h-52 w-52 m-2 absolute transition-all duration-500 left-0 origin-bottom-left hover:bg-blue-800 hover:rotate-12"></div>
    </div>
    <div class="relative flex">
        <div class="bg-slate-950 h-52 w-52 m-2"></div>
        <div class="bg-blue-950 h-52 w-52 m-2 absolute transition-all duration-500 left-0 origin-bottom-left hover:bg-blue-800 hover:rotate-12"></div>
    </div>
    <div class="relative flex">
        <div class="bg-slate-950 h-52 w-52 m-2"></div>
        <div class="bg-blue-950 h-52 w-52 m-2 absolute transition-all duration-500 left-0 origin-bottom-left hover:bg-blue-800 hover:rotate-12"></div>
    </div>
    <div class="relative flex">
        <div class="bg-slate-950 h-52 w-52 m-2"></div>
        <div class="bg-blue-950 h-52 w-52 m-2 absolute transition-all duration-500 left-0 origin-bottom-left hover:bg-blue-800 hover:rotate-12"></div>
    </div>
    <div class="relative flex">
        <div class="bg-slate-950 h-52 w-52 m-2"></div>
        <div class="bg-blue-950 h-52 w-52 m-2 absolute transition-all duration-500 left-0 origin-bottom-left hover:bg-blue-800 hover:rotate-12"></div>
    </div>
    <div class="relative flex">
        <div class="bg-slate-950 h-52 w-52 m-2"></div>
        <div class="bg-blue-950 h-52 w-52 m-2 absolute transition-all duration-500 left-0 origin-bottom-left hover:bg-blue-800 hover:rotate-12"></div>
    </div>
    <div class="relative flex">
        <div class="bg-slate-950 h-52 w-52 m-2"></div>
        <div class="bg-blue-950 h-52 w-52 m-2 absolute transition-all duration-500 left-0 origin-bottom-left hover:bg-blue-800 hover:rotate-12"></div>
    </div>
    <div class="relative flex">
        <div class="bg-slate-950 h-52 w-52 m-2"></div>
        <div class="bg-blue-950 h-52 w-52 m-2 absolute transition-all duration-500 left-0 origin-bottom-left hover:bg-blue-800 hover:rotate-12"></div>
    </div>
    <div class="relative flex">
        <div class="bg-slate-950 h-52 w-52 m-2"></div>
        <div class="bg-blue-950 h-52 w-52 m-2 absolute transition-all duration-500 left-0 origin-bottom-left hover:bg-blue-800 hover:rotate-12"></div>
    </div>
    <div class="relative flex">
        <div class="bg-slate-950 h-52 w-52 m-2"></div>
        <div class="bg-blue-950 h-52 w-52 m-2 absolute transition-all duration-500 left-0 origin-bottom-left hover:bg-blue-800 hover:rotate-12"></div>
    </div>
    </section>
</Layout>
<style is:global>
    h1 {
        letter-spacing: 15px;
        text-shadow: 0px 0px 20px #0af9;
        -webkit-text-stroke: 1.5px;
        -webkit-text-stroke-color:#0af;
        animation: fade 500ms;
    }
    @keyframes fade {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>