---
import Card from './../components/Card'
---
<section class="h-[100%] bg-gradient-to-tr from-slate-900 to-slate-950">
    <Card client:load/>
    <Card client:load/>
    <Card client:load/>
    <Card client:load/>
    <Card client:load/>
    <div class="p-4 h-full w-full font-Poppins">
        <h2 class="text-3xl py-3">El insano</h2>
        <h3 class="text-xl">Andrews Lara</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae magni iusto dicta, aliquid temporibus fuga dolorem voluptate amet consectetur nesciunt tempore delectus repellat, facilis velit laborum enim consequatur at.</p>
    </div>
    <div class="p-4 h-full w-full font-Poppins">
        <h2 class="text-3xl py-3">El insano</h2>
        <h3 class="text-xl">Andrews Lara</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae magni iusto dicta, aliquid temporibus fuga dolorem voluptate amet consectetur nesciunt tempore delectus repellat, facilis velit laborum enim consequatur at.</p>
    </div>
    <div class="p-4 h-full w-full font-Poppins">
        <h2 class="text-3xl py-3">El insano</h2>
        <h3 class="text-xl">Andrews Lara</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae magni iusto dicta, aliquid temporibus fuga dolorem voluptate amet consectetur nesciunt tempore delectus repellat, facilis velit laborum enim consequatur at.</p>
    </div>
    <div class="p-4 h-full w-full font-Poppins">
        <h2 class="text-3xl py-3">El insano</h2>
        <h3 class="text-xl">Andrews Lara</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae magni iusto dicta, aliquid temporibus fuga dolorem voluptate amet consectetur nesciunt tempore delectus repellat, facilis velit laborum enim consequatur at.</p>
    </div>
</section>