<div class="h-screen flex [flex-direction:column] [align-items:center] [justify-content:center]">
    <h1 class="text-transparent text-4xl sm:text-5xl md:text-7xl lg:text-8xl text-center font-Poppins uppercase transition-transform py-4">AndrewsLara</h1>
    <p class="text-white text-xl italic font-Montserrat text-center animate-pulse">"No busques diamantes en una cueva explorada, ya que estara vacia"</p>
    <div class="flex items-center justify-center fill-white h-12 w-12 rounded-full animate-bounce absolute bottom-4">
        <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM135 241c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l87 87 87-87c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 345c-9.4 9.4-24.6 9.4-33.9 0L135 241z"/></svg>
    </div>
</div>