<div class="card">
  <div class="card2">
    <section class="flex flex-row">
      <div
        class="md:px-12 lg:px-24 max-w-7xl relative items-center w-full px-5 py-12 mx-auto"
      >
        <div class="lg:mx-auto flex flex-col w-full max-w-lg mb-12 text-center">
          <img
            alt="testimonial"
            class="inline-block object-cover object-center w-20 h-20 mx-auto mb-8 rounded-full"
            src="/sigma.jpg"
          />

          <p class="mx-auto text-base leading-relaxed text-gray-500">
            Free and Premium themes, UI Kit's, templates and landing pages built
            with Tailwind CSS, HTML &amp; Next.js.
          </p>
          <h2
            class="mt-4 text-xs font-semibold tracking-widest text-blue-500 uppercase"
          >
            Wicked Labs
            <span class="lg:mb-0 font-semibold text-gray-200"
              >Acme's HR
            </span>
          </h2>
        </div>
      </div>
    </section>
  </div>
</div>
<style>
  .card {
    width: 98%;
    height: 350px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all 0.3s;
  }

  .card2 {
    width: 100%;
    height: 350px;
    background-color: #1a1a1a;
    border-radius:;
    transition: all 0.2s;
  }

  .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }

  .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
  }
</style>
